* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: solid black;
}
a{
    text-decoration: none;
    color: red;
    padding-left:10px ;
}
.card {
    width: 400px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}

body {
    background: url("../img/pattern.png");
}

.card-photo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}

.card-title {
    font-size: 20px;
    text-align: center;
    color: rgb(26, 158, 85);
}

.card-text {
    font-size: 14px;
}

.card-subtitle {
    font-size: 18px;
    color: rgb(97, 130, 240);

}

.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
}